@page "/list/{ListUrl}"
@using shared.Currencies
@inherits ListRazor

<ErrorComponent @ref="ErrorComponentRef">
    @if (List is null)
    {
        <Loading/>
    }
    else
    {
        <div class="pb-2" style="height: 15rem">
            <ListDisplay @ref="ListDisplayRef" DisplayGoToListButton="false" List="List"/>
        </div>
        <AddItemActionModal @ref="AddItemActionModalRef" List="List"></AddItemActionModal>
        <ShowItemActionsModal @ref="ShowItemActionsModalRef" List="List"></ShowItemActionsModal>

        <table class="table table-dark table-striped w-100">
            <thead class="text-center">
            <tr>
                <th scope="col"></th>
                <th scope="col">Item</th>
                <th scope="col">Amount</th>
                <th scope="col">Buy price</th>
                <th scope="col">Steam price</th>
                <th scope="col">Performance</th>
                <th scope="col"></th>
                <th scope="col">
                    <button class="btn btn-outline-success w-100" @onclick="AddBuyAction">Add Buy entry</button>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in List.Items.Where(item => item.ItemCount > 0))
            {
                <tr class="pb-1 text-center align-middle">
                    <td class="col-1">
                        <img class="" src="@item.ItemImage" alt="" style="object-fit: contain; height: 3rem"/>
                    </td>
                    <td class="col-2">
                        <span>@item.ItemName</span>
                    </td>
                    <td class="col-1">
                        <span>@item.ItemCount</span>
                    </td>
                    <td class="col-1">
                        <Tooltip Title="Price for one item">
                            @CurrencyHelper.FormatCurrency(List.Currency, item.AverageBuyPrice) /1
                        </Tooltip>
                        <br/>
                        <Tooltip Title="Total price">
                            <span>@CurrencyHelper.FormatCurrency(List.Currency, item.ItemCount * item.AverageBuyPrice)</span>
                        </Tooltip>
                    </td>
                    <td class="col-1">
                        <Tooltip Title="Price for one item">
                            <span>@CurrencyHelper.FormatCurrency(List.Currency, item.SteamSellPrice ?? 0) /1</span>
                        </Tooltip>
                        <br/>
                        <Tooltip Title="Total price">
                            <span>@CurrencyHelper.FormatCurrency(List.Currency, (item.SteamSellPrice ?? 0) * item.ItemCount)</span>
                        </Tooltip>
                    </td>
                    <td class="col-1 text-nowrap">
                        <span>@GetPerformanceString(item.AverageBuyPrice, item.SteamSellPrice)%</span>
                        <span>@CurrencyHelper.FormatCurrency(List.Currency, ((item.SteamSellPrice ?? 0) - item.AverageBuyPrice) * item.ItemCount)</span>
                    </td>
                    <td class="col-1">
                        <button class="btn bi bi-chevron-down" @onclick="() => ShowItemActions(item)"></button>
                    </td>
                    <td class="col-2">
                        <button class="btn btn-outline-danger w-100" @onclick="() => AddSellAction(item)">Add Sell entry</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</ErrorComponent>