@page "/list/{ListUrl}"
@using application.Helper
@using presentation.Authentication
@inherits ListRazor

<ErrorComponent @ref="ErrorComponentRef">
    @if (List is null)
    {
        <h1>loading...</h1>
    }
    else
    {
        <div class="pb-2" style="height: 15rem">
            <ListDisplay List="List"/>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="input-group">
                    <button class="btn btn-success w-100" @onclick="OpenModalBuyEntry">Add Buy entry</button>
                </div>

                @if (context.User.Claims.UserId().Equals(List.UserId))
                {
                    <div class="w-100">
                        <Modal @ref="ModalRef">
                            @if (SellItem is not null)
                            {
                                <div class="row w-100 overflow-hidden flex-nowrap">
                                    <div class="col-3">
                                        <img src="@SellItem.ItemImage" style="height: 5rem" alt=""/>
                                    </div>
                                    <div class="col-9 d-flex align-items-center ">
                                        <div class="text-center w-100" style="font-size: large">
                                            @SellItem.ItemName
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="input-group w-100">
                                    <SearchComponent OnItemSelected="AddEntryOnItemSelected"></SearchComponent>
                                </div>
                            }
                            <div class="input-group w-100 text-nowrap flex-nowrap pb-2">
                                <div class="input-group-text">
                                    Amount
                                </div>
                                <input class="form-control" type="text" @bind="AddEntryAmount"/>
                            </div>
                            <div class="input-group w-100 text-nowrap flex-nowrap">
                                <div class="input-group-text">
                                    Price for one
                                </div>
                                @if (List.Currency.Equals("USD"))
                                {
                                    <div class="input-group-text">
                                        $
                                    </div>
                                }
                                <input class="form-control" type="text" @bind="AddEntryPrice"/>
                                @if (List.Currency.Equals("EUR"))
                                {
                                    <div class="input-group-text">
                                        €
                                    </div>
                                }
                            </div>
                        </Modal>
                    </div>
                }
            </Authorized>
        </AuthorizeView>

        <table class="table table-dark table-striped w-100">
            <thead>
            <tr>
                <th scope="col" colspan="2">Item</th>
                <th scope="col">Amount</th>
                <th scope="col">Average buy price /1</th>
                <th scope="col">Total price</th>
                <th scope="col" colspan="2"></th>
            </tr>
            </thead>
            <tbody class="w-100">
            @foreach (var item in List.Items)
            {
                <tr class="w-100 pb-1 align-items-center text-center align-middle" style="height: 4rem">
                    <td class="col-2 h-100">
                        <img class="h-100 w-100" src="@item.ItemImage" alt="" style="object-fit: contain"/>
                    </td>
                    <td class="col-3">
                        <span class="w-100">@item.ItemName</span>
                    </td>
                    <td class="col-1">
                        <span class="w-100">@(item.TotalBuyAmount - item.TotalSellAmount)</span>
                    </td>
                    <td class="col-2">
                        <span class="w-100">@CurrencyHelper.FormatCurrency(List.Currency, item.AverageBuyPrice)</span>
                    </td>
                    <td class="col-1">
                        <span class="w-100">@CurrencyHelper.FormatCurrency(List.Currency, item.TotalBuyPrice)</span>
                    </td>
                    <td class="col-2">
                        <button class="btn btn-outline-danger w-100" @onclick="() => OpenModalSellEntry(item)">Sell</button>
                    </td>
                    <td class="col-1 ps-2">
                        <button class="btn btn-close w-100" @onclick="() => Delete(item)"></button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</ErrorComponent>