@page "/list/{ListUrl}"
@using presentation.Helper
@inherits ListRazor

<ErrorComponent @ref="ErrorComponentRef">
    @if (List is null)
    {
        <Loading/>
    }
    else
    {
        <div class="pb-2">
            <ListDisplay @ref="ListDisplayRef" DisplayGoToListButton="false" List="List"/>
        </div>
        <AddItemActionModal @ref="AddItemActionModalRef" List="List"></AddItemActionModal>

        <table class="table table-dark table-striped">
            <thead class="text-center">
            <tr>
                @if (IsOwnList)
                {
                    <th scope="col"></th>
                }
                <th scope="col"></th>
                <th scope="col">Item</th>
                <th scope="col">Amount</th>
                <th scope="col" class="text-nowrap">Buy price</th>
                <th scope="col" class="d-none d-md-table-cell">Steam</th>
                <th scope="col" class="d-none d-md-table-cell">Buff163</th>
                @if (IsOwnList)
                {
                    <th scope="col">
                        <Tooltip Title="Add buy entry">
                            <button class="btn btn-outline-success w-100" @onclick="AddBuyAction">+</button>
                        </Tooltip>
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var item in List.Items.Where(item => item.ItemCount > 0))
            {
                <tr class="pb-1 text-center align-middle">
                    @if (IsOwnList)
                    {
                        <td class="col-1">
                            <button class="btn bi bi-chevron-down" @onclick="() => ShowItemActions(item)"></button>
                        </td>
                    }
                    <td class="col-1">
                        <img src="@item.ItemImage" alt="" style="object-fit: contain; height: 3rem;"/>
                    </td>
                    <td class="col-2">
                        @item.ItemName
                    </td>
                    <td class="col-1">
                        <span>@item.ItemCount</span>
                    </td>
                    <td class="col-2">
                        <div class="">
                            <Tooltip Title="Buy price for one item">
                                <span class="text-nowrap">
                                    @FormatHelper.FormatCurrency(List.Currency, item.AverageBuyPriceForOne) /1
                                </span>
                            </Tooltip>
                            <br/>
                            <Tooltip Title="Total buy price">
                                <span>
                                    @FormatHelper.FormatCurrency(List.Currency, item.AverageBuyPriceForOne * item.ItemCount)
                                </span>
                            </Tooltip>
                        </div>
                    </td>

                    <td class="col-2 d-none d-md-table-cell">
                        <div class="row">
                            <div class="col-12">
                                <div class="row justify-content-center">
                                    <Tooltip Title="Steam price for one item">
                                        @FormatHelper.FormatCurrency(List.Currency, item.SteamSellPriceForOne) /1
                                    </Tooltip>
                                </div>
                                <div class="row justify-content-center">
                                    <Tooltip Title="Total steam price">
                                        @FormatHelper.FormatCurrency(List.Currency, item.SteamSellPriceForOne * item.ItemCount)
                                    </Tooltip>
                                </div>
                                <div class="row justify-content-center text-nowrap">
                                    <div>
                                        <Tooltip Title="Performance">
                                            @FormatHelper.FormatPerformancePercent(item.SteamPerformancePercent)
                                            /
                                            @FormatHelper.FormatCurrency(List.Currency, item.SteamPerformanceValue)
                                        </Tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="col-2 d-none d-md-table-cell">
                        <div class="row">
                            <div class="col-12">
                                <div class="row justify-content-center">
                                    <Tooltip Title="Buff163 price for one item">
                                        @FormatHelper.FormatCurrency(List.Currency, item.Buff163SellPriceForOne) /1
                                    </Tooltip>
                                </div>
                                <div class="row justify-content-center">
                                    <Tooltip Title="Total buff163 price">
                                        @FormatHelper.FormatCurrency(List.Currency, item.Buff163SellPriceForOne * item.ItemCount)
                                    </Tooltip>
                                </div>
                                <div class="row justify-content-center text-nowrap">
                                    <div>
                                        <Tooltip Title="Performance">
                                            @FormatHelper.FormatPerformancePercent(item.Buff163PerformancePercent)
                                            /
                                            @FormatHelper.FormatCurrency(List.Currency, item.Buff163PerformanceValue)
                                        </Tooltip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    @if (IsOwnList)
                    {
                        <td class="col-1 text-truncate d-table-cell">
                            <Tooltip Title="Add sell entry">
                                <button class="btn btn-outline-danger w-100 h-100" @onclick="() => AddSellAction(item)">
                                    -
                                </button>
                            </Tooltip>
                        </td>
                    }
                </tr>
                <tr >
                    <td colspan="7" class="px-5 border-0">
                        <ShowItemActions @ref="ShowItemActionsRefMap[item.ItemId]" Currency="@List.Currency" Item="item">
                        </ShowItemActions>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</ErrorComponent>