@namespace presentation.Components.Custom
@using Microsoft.AspNetCore.Authorization
@inherits ItemSearchComponentRazor

@attribute [Authorize]

<style>
    .searchResults {
        background-color: #212529;
        z-index: 1100;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: darkgrey #212529;
        max-height: 20rem;
        margin-top: 2.5rem;
    }
</style>


<div class="row w-100 m-0 p-0 mb-2">
    <input
        type="text"
        class="form-control text-center"
        @bind-Value="@SearchInputText"
        @bind-Value:event="oninput"
        disabled="@LockInput"
        placeholder="Type to search item"
        @onfocusin="ShowSearchResponses"
        @onfocusout="HideSearchResponses"/>

    <div class="position-absolute border border-2 searchResults justify-content-center @HideSearchResponsesClass">
        @if (ItemSearchResponses is not null)
        {
            @if (ItemSearchResponses.Count == 0)
            {
                <div class="row" style="height: 2rem; text-align: center;">
                    <span>No results</span>
                </div>
            }
            else
            {
                @foreach (var searchResult in ItemSearchResponses)
                {
                    <div class="row">
                        <button @onclick="() => OnSelect(searchResult)">
                            <img style="width: 70px" src="@searchResult.Image" alt=""/>
                            @searchResult.Name
                        </button>
                    </div>
                }
            }
        }
    </div>
</div>