@using shared.Models.ListResponse
@using BlazorBootstrap
@using presentation.BlazorExtensions
@using presentation.Helper
@using shared.Currencies
@inherits ListDisplayRazor

<ConfirmDialog @ref="ConfirmDialogRef"/>

<div class="row w-100 border border-2 rounded-2 m-0 p-0 flex-nowrap overflow-hidden" style="height: 200px">
    <button class="col-3 btn border-end p-0 m-0 overflow-hidden" @onclick="() => NavigationManager.NavigateToList(List.Url)">
        <div class="row border-bottom" style="height: 16%">
            <div class="col-12 text-decoration-underline d-flex justify-content-center align-items-center">
                @List.Name
            </div>
        </div>
        <div style="height: 84%">
            <div class="d-block d-md-none h-100">

                <div class="row p-0 m-0 h-50 border-bottom d-flex justify-content-center align-items-center">
                    <div class="row d-flex justify-content-center align-items-center text-decoration-underline">
                        Items:
                    </div>
                    <div class="row d-flex justify-content-center align-items-center">
                        @List.ItemCount
                    </div>
                    <Tooltip Title="Invested capital">
                        <div class="row d-flex justify-content-center align-items-center text-decoration-underline">
                            Invested:
                        </div>
                        <div class="row d-flex justify-content-center align-items-center">
                            @FormatHelper.FormatCurrency(List.Currency, List.InvestedCapital)
                        </div>
                    </Tooltip>
                </div>
                <div class="row p-0 m-0 h-50 d-flex justify-content-center align-items-center">
                    <div class="row text-decoration-underline justify-content-center">
                        Performance:
                    </div>
                    <div class="row p-0 m-0">
                        <Tooltip Title="Steam performance" Class="m-0 p-0">
                            <div class="text-center">
                                S:
                                @FormatHelper.FormatPerformancePercent(List.SteamPerformancePercent)
                            </div>
                        </Tooltip>
                    </div>
                    <div class="row p-0 m-0">
                        <Tooltip Title="Buff163 performance" Class="m-0 p-0">
                            <div class="text-center">
                                B:
                                @FormatHelper.FormatPerformancePercent(List.Buff163PerformancePercent)
                            </div>
                        </Tooltip>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block h-100">
                <div class="row border-bottom h-50 m-0 p-0 w-100">
                    <div class="row d-flex justify-content-center align-items-center p-0 m-0 border-bottom">
                        Items:
                        @List.ItemCount
                    </div>
                    <div class="row d-flex justify-content-center align-items-center p-0 m-0">
                        Invested Capital:
                        @FormatHelper.FormatCurrency(List.Currency, List.InvestedCapital)
                    </div>
                </div>

                <div class="row h-50 m-0 p-0">
                    <div class="col-12 border-end d-flex justify-content-center align-items-center m-0 p-0">
                        <div class="w-100">
                            <div class="text-decoration-underline">
                                Performance:
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-6 m-0 p-0 border-end">
                                    <div class="row m-0 p-0 justify-content-center">
                                        Steam:
                                    </div>
                                    <Tooltip Title="in percent">
                                        <div class="row m-0 p-0 justify-content-center">
                                            @FormatHelper.FormatPerformancePercent(List.SteamPerformancePercent)
                                        </div>
                                    </Tooltip>
                                    <Tooltip Title="total gain/loss">
                                        <div class="row m-0 p-0 justify-content-center">
                                            @FormatHelper.FormatCurrency(List.Currency, List.SteamPerformanceValue, true)
                                        </div>
                                    </Tooltip>
                                </div>
                                <div class="col-6 m-0 p-0">
                                    <div class="row m-0 p-0 justify-content-center">
                                        Buff163:
                                    </div>
                                    <Tooltip Title="in percent">
                                        <div class="row m-0 p-0 justify-content-center">
                                            @FormatHelper.FormatPerformancePercent(List.SteamPerformancePercent)
                                        </div>
                                    </Tooltip>
                                    <Tooltip Title="total gain/loss">
                                        <div class="row m-0 p-0 justify-content-center">
                                            @FormatHelper.FormatCurrency(List.Currency, List.SteamPerformanceValue, true)
                                        </div>
                                    </Tooltip>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </button>

    <div class="@(DisplayGoToListButton ? "col-8" : "col-9") h-100 p-0">
        @if (IsOwnList)
        {
            <div class="position-relative d-flex z-3 justify-content-end dropstart">
                <button class="btn-dropdown bi bi-gear position-absolute pt-1" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu text-center">
                    <li class="border-bottom">
                        @if (List.Public)
                        {
                            <button class="btn-dropdown w-100" @onclick="MakeListPrivate">Make list private</button>
                        }
                        else
                        {
                            <button class="btn-dropdown w-100" @onclick="MakeListPublic">Make list public</button>
                        }
                    </li>
                    <li>
                        <button class="btn-dropdown w-100" style="color: red" @onclick="DeleteList">Delete list</button>
                    </li>
                </ul>
            </div>
        }
        <LineChart @ref="LineChartRef" HeightUnit="Unit.Percentage" Height="100" WidthUnit="Unit.Percentage" Width="100"/>
    </div>

    @if (DisplayGoToListButton)
    {
        <button class="col-1 btn bi-play-fill m-0 p-0" @onclick="() => NavigationManager.NavigateToList(List.Url)"></button>
    }
</div>