@using shared.Models.ListResponse
@using BlazorBootstrap
@using presentation.BlazorExtensions
@using presentation.Helper
@using shared.Currencies
@inherits ListDisplayRazor

<ConfirmDialog @ref="ConfirmDialogRef"/>

<div class="row h-100 w-100 border border-2 rounded-2 m-0 p-0 flex-nowrap overflow-hidden">
    <button class="col-3 btn border-end p-0 m-0 overflow-hidden" @onclick="() => NavigationManager.NavigateToList(List.Url)">
        <div class="row border-bottom" style="height: 20%">
            <div class="col-12 text-decoration-underline justify-content-center">
                @List.Name
            </div>
        </div>
        <div style="height: 80%">
            <div class="d-block d-md-none h-100">
                <div class="row justify-content-center border-bottom p-1 h-50 d-flex justify-content-center align-items-center">
                    Items:
                    <br/>
                    @List.ItemCount()
                </div>
                <div class="row justify-content-center p-1 h-50 d-flex justify-content-center align-items-center">
                    Performance:
                    <br/>
                    @List.GetPerformancePercentString()
                </div>
            </div>


            <div class="d-none d-md-block h-100">
                <div class="row border-bottom h-50 m-0 p-0">
                    <div class="col-6 border-end d-flex justify-content-center align-items-center">
                        Items:
                        <br/>
                        @List.ItemCount()
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        Performance:
                        <br/>
                        @List.GetPerformancePercentString()
                    </div>
                </div>

                <div class="row h-50 m-0 p-0 text-truncate">
                    <div class="col-6 border-end d-flex justify-content-center align-items-center">
                        Steam:
                        <br/>
                        @CurrencyHelper.FormatCurrency(List.Currency, List.SteamPrice())
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        Buff163:
                        <br/>
                        @CurrencyHelper.FormatCurrency(List.Currency, List.Buff163Price())
                    </div>
                </div>
            </div>
        </div>
    </button>

    <div class="@(DisplayGoToListButton ? "col-8" : "col-9") h-100 p-0">
        @if (IsOwnList)
        {
            <div class="position-relative d-flex z-3 justify-content-end dropstart">
                <button class="btn-dropdown bi bi-gear position-absolute pt-1" data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu text-center">
                    <li class="border-bottom">
                        @if (List.Public)
                        {
                            <button class="btn-dropdown w-100" @onclick="MakeListPrivate">Make list private</button>
                        }
                        else
                        {
                            <button class="btn-dropdown w-100" @onclick="MakeListPublic">Make list public</button>
                        }
                    </li>
                    <li>
                        <button class="btn-dropdown w-100" style="color: red" @onclick="DeleteList">Delete list</button>
                    </li>
                </ul>
            </div>
        }
        <LineChart @ref="LineChartRef" HeightUnit="Unit.Percentage" Height="100" WidthUnit="Unit.Percentage" Width="100"/>
    </div>

    @if (DisplayGoToListButton)
    {
        <button class="col-1 btn bi-play-fill m-0 p-0" @onclick="() => NavigationManager.NavigateToList(List.Url)"></button>
    }
</div>