@using application.Helper
@using shared.Models.ListResponse
@using BlazorBootstrap
@inherits ListDisplayRazor

<div class="row h-100 w-100 border border-2 rounded-2 m-0 p-0 flex-nowrap overflow-hidden">
    <button class="col-3 h-100 container btn border-end rounded-0" @onclick="NavigateToList">
        <div class="row row-cols-2 justify-content-center text-decoration-underline p-1" style="height: 15%">
            @List.Name
        </div>
        <div class="row row-cols-8 justify-content-center p-1" style="font-size: small; height: 55%">
            <div class="h-100">
                @List.Description
            </div>
        </div>
        <div class="row row-cols-1 justify-content-center p-1" style="height: 15%">
            @List.Items.Sum(item => item.CurrentAmountInvested) Items
        </div>
        <div class="row row-cols-1 justify-content-center p-1" style="height: 15%">
            @CurrencyHelper.FormatCurrency(List.Currency, List.Items.Sum(item => item.CurrentCapitalInvested))
        </div>
    </button>

    <div class="@(DisplayGoToListButton ? "col-8" : "col-9") h-100 p-0">
        <LineChart @ref="LineChart" HeightUnit="Unit.Percentage" Height="100" WidthUnit="Unit.Percentage" Width="100"/>
    </div>

    @if (DisplayGoToListButton)
    {
        <button class="col-1 btn bi-play-fill m-0 p-0" @onclick="NavigateToList"></button>
    }
</div>